/*
 * pinkish: #F5E1DA
 * white: #F1f1f1
 * green: #40a798
 * dark-blue: #476269
 */

body, html {
  color: #476269;
  background-color: #F1f1f1;
}

.RoundList {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  border-collapse: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

th, td {
  border-right: 1px solid #ccc;
  padding: 5px 0 5px 0;
  margin: 0;
  outline: 0;
}

tr:nth-of-type(even) {
  background-color: #F5E1DA;
}

tr.names {
  background-color: #476269;
  color: #F1f1f1;
}
